* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
header {
    border-bottom: 1px solid #ddd;
}
.header-banner img {
    background-color: rgb(85,214,194);
    text-align: center;
    width: 100%;
}
.header-content {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 70px;
    font-size: 16px;
}
.header-logo img{
    padding: 0 10px;
    width: 300px;
}
.header-memu {
    padding: 10px 0 10px 20px;
}
.menu {
    list-style-type: none;
    display: inline-block;
    display: flex;
    justify-content: space-between;
}
.submenu {
    list-style-type: none;
    z-index: 2;
}
.menu > li {
    display: inline-block;
}
.menu li {
    position: relative;
}
.menu > li > a {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.menu li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 12px 0 12px;
    display: inline-block;
}
.menu li:hover .submenu {
    display: block;
}
.menu li:hover a {
    color: #C92127;
}
.menu .submenu li a {
    color: #000;
}
.menu .submenu li:hover a{
    color: #C92127;
}
.menu .submenu {
    display: none;
    min-width: 400px;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.menu .submenu li{
    border-bottom: 1px solid #ddd;
}
.menu .submenu a{
    color: #000;
    margin: 10px 0 5px 0;
    line-height: 38px;
}
.menu .nav-arrow-down {
    font-size: 14px;
}
.header-search {
    position: relative;
}
.header-search input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    padding-left: 6px;
}
.header-search .submit-product{
    position: absolute;
    font-size: 14px;
    right: 8px;
    bottom: 5px;
    font-weight: normal;
    font-size: 14px;
    z-index: 3;
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: #C92127;
    border: 2px solid #C92127;
    border-radius: 7px;
    text-align: center;
}
.header-icon {
    display: flex;
    justify-content: space-between;
}
.header-icon a {
    padding-right: 0 12px;
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}
.header-icon a:hover {
    color: #C92127;
}
.connect_form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.connect_form_content{
    width: 400px;
    height: 360px;
    background-color: #fff;
    border-radius: 7px;
}
.connect_form_content h2{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    margin-bottom: 10px;
}
.connect_form_content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    width: 40px;
    padding: 0 6px;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: lighter;
    right: 12px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    line-height: 30px;
    font-size: 12px;
    color: #333;
    border-radius: 5px;
}
.connect_form_content form{
    padding: 0 20px;
}
.connect_form_content form label {
    margin-top: 8px;
}
.connect_form_content form input{
    height: 45px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 6px;
}
.connect_form_content form button {
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #F52121;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;

}
.connect_form_content_dk {
    padding: 16px;
    text-align: right;
}
.connect_form_content_dk p a {
    color: #2196F3;
    text-decoration:underline;
}
nav {
    background-color: rgb(85,214,194); 
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.menu-bar ul {
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li {
    list-style-type: none;
}
.menu-bar ul li:hover {
    background-color: #fff;
}
.menu-bar-content > ul > li {
    padding: 14px 12px;
    transition: all 0.3s ease;
}
.menu-bar-content > ul > li:first-child {
    position: relative;
}
.menu-bar-content > ul > li:first-child::before {
    position: absolute;
    content: "HOT!!!!";
    display: block;
    height: 15px;
    width: 45px;
    background-color: #F52121;
    border-radius: 5px;
    right: 0;
    top: 2px;
    font-size: 9px;
    padding-left: 3px;
    color: #fff; 
}
.menu-bar-content > ul > li:first-child::after {
    position: absolute;
    content: "";
    background-color: #F52121;
    height: 7px;
    width: 7px;
    display: block;
    top: 13px;
    right: 10px;
    z-index: 2;
    transform: rotate(45deg);
}
.menu-bar ul li a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
}
.menu-bar ul li a:hover {
    color: #C92127;
}
.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
/* -------------------------------content-------------------------- */
/* ---------chung---------- */
#content {
    background-color: #ccc;
    width: 100%;
    height: 950px;
}
.content_text {
    background-color: #fff;
    padding: 8px 20px;
    margin: 0 70px 20px 70px;
}
.content_text h1 {
    text-align: center;
    padding: 20px 0 0 0;
}
.content_text h5 {
    text-align: center;
    padding: 15px 0;
}
.content_text p {
    padding-bottom: 12px;
    font-size: 14px;
    color: #333;
}
.content_text p span {
    font-weight: bold;
}
.content_text ul li {
    font-size: 14px;
    color: #333;
    padding-bottom: 12px;
    padding-left: 20px;
    list-style-type: circle;
}
.caption {
    font-size: 14px;
    font-weight: bold;
}
.last {
    font-style: italic;
    font-size: 12px;
}
/* -------chính sách vận chuyển --------- */
#content_second {
    background-color: #ccc;
    width: 100%;
    margin-bottom: 20px;
    height: 2380px;
}
.content_text table {
    border: 1px solid #d9dde3;
    margin: 10px 0;
}
.content_text table tbody td {
    border-left: 1px solid #d9dde3;
    border-bottom: 1px solid #d9dde3;
    padding: 10px;
    text-align: center;
}
/* ---------------------chính sách khách sỉ--------------------- */
#content_third {
    background-color: #ccc;
    width: 100%;
    margin-bottom: 20px;
    height: 670px;
}
.content_text img {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

/* --------------------------footer--------------------------------------- */
footer {
    background-color: rgb(85,214,194);
    width: 100%;
    height: auto;
}
.footer_content{
    display: flex;
    justify-content: space-between;
}
.footer_content_left{
    width: 35%;
    padding: 0 12px;
    border-right: 1px solid #000;
}
.footer_content_left_logo_first img{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 8px;
}
.footer_content_left_logo_first{
    width: 65%;
}
.footer_content_left_text p{
    font-size: 14px;
    color: #000;
    margin-bottom: 3px;
}
.footer_content_left_logo_second img{
    width: 100%;
    width: 120px;
    height: 35px;
    margin: 12px 0;
}
.footer_content_left_social_list {
    font-size: 24px;
    margin-bottom: 12px;
}
.footer_content_left_social_list a{
    color: #000;
    text-decoration: none;
}
.footer_content_left_social_list a:hover{
    color: rgba(0, 0, 0 ,0.4);
}
.footer_content_left_app {
    display: flex;
    justify-content: space-around;
}
.footer_content_left_app img{
    width: 100%;
    height: 50px;
}
.footer_content_right{
    width: 65%;
    margin: 12px;
    padding-right: 20px;
}
.footer_content_right h2 ,.footer_content_right_list h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.footer_content_right .footer_content_right_connect{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}
.footer_content_right_list a {
    text-decoration: none;
    color: #000;
}
.footer_content_right_list a:hover {
    color: #F52121;
}
.footer_last {
    padding-top: 20px;
    margin: 12px 20px 0 20px;
    text-align: center;
    font-size: 12px;
}
.footer_content_right_list_first li, .footer_content_right_list_secod li {
    list-style-type: none;
}